.Chat {
  height: 100%;
  padding: 1rem;
  padding-top: 3rem;
  color: var(--theme-dark-mode-primary-text);

  h1 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }

  .ChatRoom {
    height: 100%;
    padding: 3vw;
  }

  .ChatListGrid {
    align-self: center;
    height: 95%;
    border-radius: 1rem;
    background-color: var(--theme-dark-background-color-2);
    color: #5f6387;

    .ChatList {
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  #chatBackIcon {
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: none;
  }

  @media screen and (max-width: 768px) {
    .Chat {
      padding-top: 0.5rem;
    }
    .Chatdiv {
      transform: translateY(-4.5%);

      .currViewMobile {
        height: 90%;
        width: 100%;
        display: block;
      }

      .notCurrViewMobile {
        display: none;
      }

      #chatBackIcon {
        display: block;
      }
    }
  }
}