.ChatPreview {
  overflow: hidden;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  transition: all .2s ease-in-out;

  img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
  }

  .userNameAndDate {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: var(--theme-dark-mode-primary-text);

    h1 {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .recentMessageBox {
    width: 75%;
  }

  p {
    white-space: nowrap;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--theme-dark-mode-secondary-text);
  }

  &:hover {
    overflow: hidden;
    transform: scale(1.01);
    background-color: rgb(50, 60, 72);
    cursor: pointer;
  }

  @media screen and (max-width: 1062px) {
    img {
      width: 3rem;
      height: 3rem;
    }
  }
  @media screen and (max-width: 768px) {
    img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
  @media screen and (max-width: 600px) {
    img {
      width: 6.5rem;
      height: 6.5rem;
    }
  }
  @media screen and (max-width: 490px) {
    img {
      width: 5rem;
      height: 5rem;
    }
  }
  @media screen and (max-width: 404px) {
    img {
      width: 4rem;
      height: 4rem;
    }
  }
}