.App{
  position: relative;
  height: 100%;
  height: 100dvh;
  min-height: 100dvh;
  overflow: auto;
  background-color: var(--theme-background-color-dark);
  .main-page-content{
    height: 100%;
    height: 100dvh;
    min-height: 100dvh;
  }

  .hidden {
    display: none;
  }
}

.App:has(.feed) {
  overflow: hidden;
}
